<button class="btn btn-info new-user">Add user</button>
<form role='form' id="nav-search" class="form-search form-inline pull-right">
	<div class="form-group">
		<label for="input-search">Search by name</label>
		<input type="text" class="form-control" id="input-search" name="search" placeholder="Enter name">
		<input type="submit" class="btn btn-search" value="go">
	</div>
</form>
<table class="table table-over table-hover">
	<thead>
      <tr>
        <th>Name</th>
        <th>age</th>
      </tr>
    </thead>
    <tbody>
    	
    </tbody>
</table>